---

- name: Generate default containerd config toml
  ansible.builtin.shell: containerd config default > /etc/containerd/config.toml
  args:
    creates: /etc/containerd/config.toml

- name: Enable systemd cgroup driver
  ansible.builtin.replace:
    path: /etc/containerd/config.toml
    regexp: '^(\s*)SystemdCgroup\s*=\s*false'
    replace: '\1SystemdCgroup = true'
    backup: yes
  notify: restart containerd

- name: Start containerd
  ansible.builtin.systemd:
    name: containerd
    enabled: yes
    state: started
