---

- name: Copy validated config.toml from role files
  ansible.builtin.copy:
    src: config.toml
    dest: /etc/containerd/config.toml
    backup: yes
  notify: restart containerd

- name: Start containerd
  ansible.builtin.systemd:
    name: containerd
    enabled: yes
    state: started
