---

- name: Update APT cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install k8s packages
  ansible.builtin.package:
    name: "{{ item.name }}"
    state: present
  loop: "{{ k8s_packages }}"
