---

- name: Set SSH service name based on OS Family
  ansible.builtin.set_fact:
    ssh_service_name: "{{ 'ssh' if ansible_facts.os_family == 'Debian' else 'sshd' }}"

- name: Configure SSH hardening settings
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
    validate: /usr/sbin/sshd -t -f %s
  loop: "{{ sshd_config_variables }}"
  notify: restart ssh

- name: Configure SSH AllowUsers
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?AllowUsers'
    line: "AllowUsers {{ ssh_allowed_users | join(' ') }}"
    state: present
    validate: /usr/sbin/sshd -t -f %s
  when: ssh_allowed_users is defined
  notify: restart ssh
