---

- name: Check current swap status
  ansible.builtin.command: swapon --show --noheadings
  register: swap_check
  changed_when: false
  check_mode: false

- name: Disable swap
  ansible.builtin.command: swapoff -a
  when: swap_check.stdout | length > 0

- name: Remove swap entry from /etc/fstab
  ansible.builtin.lineinfile:
    path: /etc/fstab
    regexp: '^\s*\S+\s+(none|swap)\s+swap\s+'
    state: absent
    backup: yes
