#SPDX-License-Identifier: MIT-0
---
# Bootloader device tree override for Raspberry Pi 5

- name: Deploy custom device tree blob
  ansible.builtin.copy:
    src: bcm2712-rpi-5-b.dtb
    dest: /boot/firmware/current/bcm2712-rpi-5-b.dtb
    owner: root
    group: root
    mode: '0644'
    backup: true
