---

- name: Check if node is connected to current cluster
  ansible.builtin.shell: kubectl get node {{ inventory_hostname_short }} 2>/dev/null
  delegate_to: "{{ groups['k8s_live_masters'][0] }}"
  register: node_check
  failed_when: false
  changed_when: false
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  
- name: Join cluster if not already in cluster
  block:
    - name: Reset node if previously configured
      ansible.builtin.command: kubeadm reset -f
      args:
        removes: /etc/kubernetes/kubelet.conf

    - name: Generate join command on control plane
      ansible.builtin.command: kubeadm token create --print-join-command --ttl 2h
      register: join_command
      delegate_to: "{{ groups['k8s_live_masters'][0] }}"
      run_once: true
      changed_when: false
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: Join worker to cluster
      ansible.builtin.command: "{{ join_command.stdout }}"
  when: node_check.rc != 0
