---
- name: Facts playbook
  hosts: k8s_live_cluster
  tasks:
    - name: Display host information
      ansible.builtin.debug:
        msg: >
          Hostname: {{ ansible_facts.hostname }} -
          OS: {{ ansible_facts.distribution}} {{ ansible_facts.distribution_version }} -
          Family: {{ ansible_facts.os_family }} -
          Kernel: {{ ansible_facts.kernel }} -
          Architecture: {{ ansible_facts.architecture }} -
          Memory: {{ ansible_facts.memtotal_mb }}
    - name: Display Python version
      ansible.builtin.debug:
        msg: "Python: {{ ansible_facts['python']['version']['major'] }}.{{ ansible_facts['python']['version']['minor'] }}.{{ ansible_facts['python']['version']['micro'] }}"
