---
- name: Facts playbook
  hosts: k8s_live_cluster
  gather_facts: true

  vars:
    kube: kubelet.service
  tasks:
    - name: Display host information
      ansible.builtin.debug:
        msg: >
          Hostname: {{ ansible_facts.hostname }} -
          OS: {{ ansible_facts.distribution}} {{ ansible_facts.distribution_version }} -
          Family: {{ ansible_facts.os_family }} -
          Kernel: {{ ansible_facts.kernel }} -
          Architecture: {{ ansible_facts.architecture }} -
          Memory: {{ ansible_facts.memtotal_mb }}
    
    - name: Display Python version
      ansible.builtin.debug:
        msg: "Python: {{ ansible_facts['python']['version']['major'] }}.{{ ansible_facts['python']['version']['minor'] }}.{{ ansible_facts['python']['version']['micro'] }}"

    - name: Gather Service facts
      ansible.builtin.service_facts:

    - name: Get Kubelet facts
      block:
      - name: Print status when running
        ansible.builtin.debug:
          msg: "{{ ansible_facts.services[kube].name }} is running on host {{ ansible_facts['hostname'] }}."
        when: ansible_facts.services[kube].state == 'running'
      - name: Print status when stopped
        ansible.builtin.debug:
          msg: "{{ ansible_facts.services[kube].name }} is NOT RUNNING  on host {{ ansible_facts['hostname'] }}."
        when: ansible_facts.services[kube].state != 'running'
      when: kube in ansible_facts.services
    
    - name: Get IP address of eth0 Interface
      ansible.builtin.debug:
        msg: "{{ ansible_eth0.ipv4.address }}"
